UNIVERSITY_API_PORT=8081
UNIVERSITY_DB_HOST=127.0.0.1
UNIVERSITY_DB_PORT=3306
UNIVERSITY_DB_NAME=universidad_institucional
UNIVERSITY_DB_USER=CAMBIAR_LOCALMENTE
UNIVERSITY_DB_PASSWORD=CAMBIAR_LOCALMENTE
